@using ShoeShopProject.Models
@using ShoeShopProject.ViewModels
@{
    List<CartDetails> listCartDetails = ViewBag.ListCartDetails;
    Cart cartInfo = ViewBag.CartInfo;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Invoice - SB Admin Pro</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed sidenav-toggled">
    @Html.Partial("_Header")
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <!-- Main page content-->
                <div class="container-xl px-4 mt-4">
                    <!-- Invoice-->
                    <div class="card invoice">
                        
                        <div class="card-body p-4 p-md-5">
                            @if (listCartDetails != null && listCartDetails.Count > 0)
                            {
                                <!-- Invoice table-->
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <thead class="border-bottom">
                                            <tr class="small text-uppercase text-muted">
                                                <th class="col-1 text-center" scope="col"></th>
                                                <th class="col-5" scope="col">Sản phẩm</th>
                                                <th class="col-2 text-center" scope="col">Giá</th>
                                                <th class="col-2 text-center" scope="col">Số lượng</th>
                                                <th class="col-2 text-center" scope="col">Tạm tính</th>
                                                <th class="col-1 text-center" scope="col">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Cart item-->
                                            @foreach (CartDetails cart in listCartDetails)
                                            {
                                                <tr class="border-bottom">
                                                    <td class="col-1 align-middle">
                                                        <input type="checkbox" id="checkCart_@cart.productVariantId" name="checkCart" onclick="checkCartChoose()"/>
                                                    </td>
                                                    <td class="col-5 align-middle">
                                                        <div class="fw-bold d-flex align-items-center">
                                                            <a class="me-3" href="#"><img class="img-fluid" style="width: 5rem" src="@cart.thumbnail"></img></a>
                                                            <a class="text-primary text-decoration-none ms-2" href="@Url.Action("ProductDetails", "Product", new{productID = cart.productId})">@cart.productName</a>
                                                        </div>
                                                        <div class="fw-bold d-flex align-items-center text-end">
                                                            <span>@(cart.colorName) - @(cart.size)</span>
                                                        </div>
                                                    </td>
                                                    <td class="col-2 text-center align-middle fw-bold">@Constants.ConvertCurrency(cart.unitPrice)</td>
                                                    <td class="col-2 text-center align-middle fw-bold">
                                                        <div class="d-flex justify-content-center">
                                                            <input class="form-control fw-bold" style="max-width: 90px;" oninput="ChangeQuantityValue('@cart.cartItemId', '@cart.productId', this)" type="number" min="0" value="@cart.quantity" />
                                                        </div>
                                                    </td>
                                                    <td class="col-2 text-center align-middle fw-bold cart_total_price" id="cart_total_price_@cart.productVariantId">@Constants.ConvertCurrency(cart.priceAmout)</td>
                                                    <td class="col-1 text-center align-middle fw-bold">
                                                        <button class="btn btn-datatable btn-icon btn-transparent-dark" onclick="DeleteCartItem('@cart.cartItemId')" data-feather="x"></button>
                                                    </td>
                                                </tr>
                                            }
                                            <!-- Invoice subtotal-->
                                            <tr>
                                                <td class="text-end pb-0" colspan="3"><div class="text-uppercase small fw-700 text-muted">Tổng tiền:</div></td>
                                                <td class="text-center pb-0">
                                                    <div class="h5 mb-0 fw-700 text-green" id="cartAmountTotal"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="mb-2 mt-4 text-center align-middle fw-bold">
                                        <a class="btn btn-black" href="@Url.Action("CartCheckout", "Shoping")"> TIẾN HÀNH THANH TOÁN </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="mb-2 mt-4 text-center align-middle fw-bold">
                                    <span class="text-primary">CHƯA CÓ SẢN PHẨM NÀO TRONG GIỎ HÀNG</span>
                                </div>
                                <div class="mb-2 mt-4 text-center align-middle fw-bold">
                                    <a class="btn btn-outline-danger" href="@Url.Action("HomePage", "Home")"> QUAY LẠI CỬA HÀNG </a>
                                </div>
                            }

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="mb-4 mb-lg-0 text-center">
                                    <!-- Invoice - sent to info-->
                                    <div class="small text-muted text-uppercase fw-700 mb-2">FROM</div>
                                    <div class="h6 mb-1">NEXUS SNEAKERS</div>
                                    <div class="small">HA NOI . VIET NAM</div>
                                    <div class="small">2024</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            @Html.Partial("_Footer")
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function isNumeric(value) {
            // Sử dụng biểu thức chính quy để kiểm tra xem giá trị có phải là số hay không
            return /^-?\d+$/.test(value);
        }

        async function DeleteCartItem(cartItemId) {
            var formData = new FormData();
            formData.append("cartItemId", cartItemId);

            try {
                const response = await fetch("/Shoping/DeleteCartItem", {
                    method: "POST",
                    body: formData
                });

                const data = await response.json();

                if (data.success) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                } else {
                    showAlert('Không thể xóa khỏi giỏ hàng', 'warning');
                    window.location.reload();
                }
            } catch (error) {
                showAlert('Error' + error, 'error');
            }
        }

        async function ChangeQuantityValue(cartItemId, productId, inputElement) {
            var quantity = inputElement.value;
            // Kiểm tra giá trị nhập liệu
            if (!isNumeric(quantity) || parseInt(quantity) < 0) {
                inputElement.value = 1;
                return;
            }

            if (isNumeric(quantity) && quantity == 0) {
                await DeleteCartItem(cartItemId);
            }

            var formData = new FormData();
            formData.append("cartItemId", cartItemId);
            formData.append("productId", productId);
            formData.append("quantity", quantity);

            try {
                const response = await fetch("/Shoping/UpdateCartItemQuantity", {
                    method: "POST",
                    body: formData
                });

                const data = await response.json();

                if (data.success) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                } else {
                    showAlert('Không thể cập nhật số lượng', 'warning');
                    window.location.reload();
                }
            } catch (error) {
                showAlert('Error' + error, 'error');
            }
        }

        document.addEventListener("DOMContentLoaded", function () {

            function calculateTotal() {
                const checkCartElements = document.querySelectorAll('input[name="checkCart"]:checked');
                let total = 0;

                checkCartElements.forEach(element => {
                    const cartid = element.id.replace("checkCart_", "");
                    const cartTotalPriceElement = document.getElementById("cart_total_price_" + cartid);

                    if (cartTotalPriceElement) {
                        const priceString = cartTotalPriceElement.textContent.trim();
                        const numberString = priceString.replace(/[₫,.]/g, '');
                        const priceAmount = parseInt(numberString);
                        total += priceAmount;
                    }
                });

                const cartAmountTotalElement = document.getElementById("cartAmountTotal");
                if (cartAmountTotalElement) {
                    cartAmountTotalElement.textContent = convertCurrency(total);
                }
            }

            // Add event listeners to checkboxes
            const checkCartCheckboxes = document.querySelectorAll('input[name="checkCart"]');
            checkCartCheckboxes.forEach(checkbox => {
                checkbox.checked = true; // Initially check all checkboxes
                checkbox.addEventListener('change', calculateTotal);
            });

            // Initial calculation
            calculateTotal();
            
        });

        function convertCurrency(amount) {
            // Format số với dấu phân cách hàng nghìn và ký hiệu tiền tệ "₫"
            return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₫";
        }
    </script>
</body>
</html>
